target/*
dbt_modules/
dbt_packages/
logs/
.env
.venv/
.python-version
.notes
dbt_docs.sh
*.DS_Store

!target/index.html
!target/catalog.json
!target/manifest.json

# Visual Studio Code files
*/.vscode
*.code-workspace
.history/
**/.DS_Store
.vscode/ 
